
body {
    overflow: hidden;
    background-color: #272727;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
}

main {
    display: flex;
    position: relative;
}

.main_background {
    height: 337px;
    margin-top: 79px;
}

.block {
    min-width: 30px;
    min-height: 100%;
}

.images {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.chip {
    margin-left: 3px;
}

.balloon {
    margin-left: 270px;
    position: absolute;
    margin-top: 140px;
    width: 100%;
    height: 8%;
    position: absolute;
    content: '';
    transform: translate3d(0, - 1%, 0);
    animation: spin 1.4s infinite linear;

}


.circus {
    margin-top: 235px;
    height: 92px;
}

.panic {
    margin-left: 390px;
    position: absolute;
    height: 240px;
}

.mega {
    height: 270px;
}

.nint {
    margin-right: 700px;
}

.season {
    margin-right: 10px;
    margin-left: 400px;
}

@keyframes spin {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    50% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, -100%, 0);
    }
  }