.tiny5-regular {
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }

body {
    overflow-x: hidden;
    background-color: #272727;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 660px;
    font-family: "2P", "Arial", sans-serif;
}

main {
    display: flex;
    position: relative;
}


.main_background {
    height: 280px;
    margin-top: 79px;
}

.images {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.chip {
    margin-left: -30px;
}

.chip img {
    height: 362px;
}

.duck {
    margin-left: -30px;
    margin-top: 5px;
}

.battletoads {
    margin-left: -60px;
}

.battletoads img {
    height: 375px;
}

.balloon {
    margin-left: 250px;
    position: absolute;
    margin-top: 150px;
    height: 8%;
    position: absolute;
    content: '';
    transform: translate3d(0, - 1%, 0);
    animation: spin 1.4s infinite linear;
}

.ball {
    margin-left: 550px;
    position: absolute;
    margin-top: -340px;
    height: 7%;
    content: '';
    transform: translate3d(0, - 1%, 0);
    animation: spin 1.9s infinite linear;
    opacity: 0.7;
}

.ball2 {
    margin-left: 330px;
    position: absolute;
    margin-top: 270px;
    height: 8%;
    content: '';
    transform: translate3d(0, - 1%, 0);
    animation: spin 2.3s infinite linear;
    opacity: 0.4;
}

.ball2 img {
    height: 50px;
}

.ball3 {
    margin-left: 260px;
    position: absolute;
    margin-top: 190px;
    height: 9%;
    position: absolute;
    content: '';
    transform: translate3d(0, - 1%, 0);
    animation: spin 1.7s infinite linear;
    opacity: 1;
}

.ball4 {
    margin-left: 650px;
    position: absolute;
    margin-top: 250px;
    height: 8%;
    position: absolute;
    content: '';
    transform: translate3d(0, - 1%, 0);
    animation: spin 1.7s infinite linear;
    opacity: 0.9;
}

.ball4 img {
    height: 80px;
}

.ball5 {
    margin-left: -50px;
    position: absolute;
    margin-top: 100px;
    height: 15%;
    position: absolute;
    content: '';
    transform: translate3d(0, - 1%, 0);
    animation: spin 2.3s infinite linear;
    opacity: 0.7;
}

.ball5 img {
    height: 90px;
}

.ball6 {
    margin-left: 710px;
    position: absolute;
    margin-top: 150px;
    height: 8%;
    position: absolute;
    content: '';
    transform: translate3d(0, - 1%, 0);
    animation: spin 1.7s infinite linear;
    opacity: 0.4;
}

.ball6 img {
    height: 50px;
}

.ball7 {
    margin-left: 850px;
    position: absolute;
    margin-top: 200px;
    height: 8%;
    position: absolute;
    content: '';
    transform: translate3d(0, - 1%, 0);
    animation: spin 2s infinite linear;
    opacity: 0.8;
}

.ball7 img {
    height: 100px;
}

.balloon img {
    height: 110px;
}

.mappy {
    margin-left: 390px;
    position: absolute; 
    margin-top: 240px;  
}

.mappy img {
    height: 85px;
}

.pill {
    margin-left: 350px;
    position: absolute; 
    margin-top: 260px;  
    z-index: 1;
}
.pill img {
    height: 75px;
}

.panic {
    margin-left: 360px;
    position: absolute; 
}

.panic img {
    height: 230px;
}

.mega {
    margin-right: -70px;
}

.mega img {
    height: 250px;
}

.nint {
    margin-right: 730px;
}

.nint img {
    height: 50px;
}

.footer {
    display: flex;
    align-items: center;
    margin-left: 600px;
    flex-direction: column;
    margin-top: -100px;
}

.season {
    color: #847429;
    margin-bottom: 15px;
}

.seasons {
    margin-bottom: 5px;
}

.fire {
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;  
}

.fire img {
    height: 150px;
    filter: blur(1px);
}

.triangle {
    position: absolute;
    width: 100%;
    margin-top: 298px;  
}

.noob {
    position: absolute;
    display: flex;
    margin-top: 340px;  
    margin-right: 520px;
}

.noob img {
    height: 70px;
}

.ball img {
    position: absolute;
    display: flex;
    margin-top: 340px;  
    margin-right: 520px;
}

.dropbtn {
    background-color: transparent;
    color: #847429;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
  }
  
  .dropdown {
    float: left;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #272727;
    min-width: 200px;
    overflow: auto;
    z-index: 1;
    align-items: center;
    margin-top: -260px;
    margin-left: -54px;
  }
  
  .dropdown-content a {
    color: #847429;
    padding: 6px ;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  a {
    color: #847429;
    text-decoration: none;
  }

  .mara {
    padding: 10px;
    margin-top: 25px;
  }

  .change-lang {
    height: 30px;
    position: absolute;
    margin-left: 265px;
    z-index: 1;
  }


@media (max-width: 930px) {
    body {
        height: 590px;
    }
    .main_background {
        height: 200px;
        margin-top: 60px;
    }
    .mega {
        margin-right: 0px;
        margin-top: 30px;
    }
    .mega img {
        height: 150px;
    }
    .panic {
        margin-top: 20px;
        margin-left: 280px;
    } 
    .panic img {
        height: 150px;
    }
    .fire {
        margin-left: 370px;
        margin-top: 150px;  
    }
    .fire img {
        height: 90px;
    }
    .season {
        margin-left: 0px;
    }
    .chip {
        margin-left: 0px;
    }
    .chip img {
        height: 262px;
    } 

    .duck {
        margin-left: -10px;
    }
    .duck img {
        height: 262px;
    } 

    .battletoads img {
        height: 275px;
    } 

    .balloon {
        margin-left: 200px;
        margin-top: 120px;
        height: 2%;
    }
    .balloon img {
        height: 70px;
    }
    .mappy {
        margin-left: 290px;
        margin-top: 175px;  
    }
    .mappy img {
        height: 65px;
    }

    .pill {
        margin-left: 240px;
        margin-top: 185px;  
    }
    .pill img {
        height: 55px;
    }

    .triangle {
        margin-top: 217px;  
    }
    .noob {
        margin-top: 250px;  
        margin-right: 270px;
    }
    .nint {
        margin-right: 480px;
    }
    .footer {
        margin-left: 400px;
        margin-top: -100px;
    }
    .season img {
        height: 25px;
    }
    .seasons img {
        height: 70px;
    }

    .ball, .ball2, .ball3, .ball4, .ball5, .ball6, .ball7 {
        display: none;
    }

  }

  @media (max-width: 690px) {
    body {
        height: 480px;
    }
    .main_background {
        height: 150px;
        margin-top: 50px;
    }
    .chip img {
        height: 200px;
    } 

    .duck img {
        height: 200px;
    } 

    .battletoads img {
        height: 220px;
    } 

    .triangle {
        margin-top: 168px;  
    }
    .mappy {
        visibility: hidden;
    }

    .pill {
        visibility: hidden;
    }

    .balloon {
        margin-left: 260px;
        margin-top: 20px;
    }
    .panic {
        margin-top: 50px;
        margin-left: 200px;
    } 
    .panic img {
        height: 80px;
    }
    .fire {
        margin-left: 250px;
        margin-top: 120px;  
    }
    .fire img {
        height: 70px;
    }
    .mega img {
        height: 130px;
    }
    .noob {
        margin-top: 185px;  
        margin-right: 110px;
    }
    .nint {
        margin-right: 325px;
    }
    .footer {
        margin-left: 300px;
        margin-top: -100px;
    }
    .season img {
        height: 15px;
    }
    .seasons img {
        height: 55px;
    }
    .dropdown-content {
        margin-top: 0px;
    }
  }

  @media (max-width: 480px) {
    body {
        height: 350px;
    }
    .main_background {
        height: 100px;
        margin-top: 30px;
    }
    .chip img {
        height: 130px;
    } 

    .duck img {
        height: 130px;
    } 

    .battletoads {
        margin-left: -30px;
    } 

    .battletoads img {
        height: 140px;
    } 

    .panic {
        margin-top: 50px;
        margin-left: 120px;
    } 
    .panic img {
        height: 60px;
    }
    .fire {
        margin-left: 170px;
        margin-top: 80px;  
    }
    .fire img {
        height: 40px;
    }
    .balloon {
        margin-left: 165px;
        margin-top: 10px;
    }
    .balloon img {
        height: 60px;
    }
    .mega img {
        height: 70px;
    }
    .triangle {
        margin-top: 109px;  
    }
    .noob {
        margin-top: 120px;  
        margin-right: 110px;
    }
    .noob img {
        height: 40px;
    }
    .nint {
        margin-right: 230px;
    }
    .nint img {
        height: 30px;
    }
    .footer {
        margin-left: 170px;
        margin-top: -50px;
    }
    .season img {
        height: 10px;
    }
    .seasons img {
        height: 40px;
    }
    .tiny5-regular {
        font-size: 16px;
    }
    .dropdown-content {
        margin-left: -73px;
    }
    .dropbtn {
        padding: 3px;
    }
  }

@keyframes spin {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    50% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, -100%, 0);
    }
  }


